  <!-- Tool bar -->
  <div style="width: 100vw">
    <mat-toolbar style="text-align: center">
      <h1 class="toolbar-title">myFlix</h1>
      <button
        mat-button
        class="menu-button"
        routerLink="movies"
        (click)="goToMoviesPage()"
      >
        Movies
      </button>
      <button
        mat-button
        class="menu-button"
        routerLink="profile"
        (click)="goToProfilePage()"
      >
        Profile
      </button>
  
      <button
        mat-button
        mat-button-color="primary"
        style="text-align: right;"
        class="menu-button"
        routerLink="logout"
        (click)="logout()"
      >
        Log out
      </button>
    </mat-toolbar>

   

<div style="display: flex; flex-wrap: wrap; justify-content: center; margin: 15px;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto; margin: 10px;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
            <div class="favorite" style="align-self: top">
                <mat-icon
                  *ngIf="!isFavorited(movie._id)"
                  (click)="handleFavorite(movie._id)"
                  class="heart-icon"
                >
                  favorite_border
                </mat-icon>
                <mat-icon
                  *ngIf="isFavorited(movie._id)"
                  (click)="handleUnfavorite(movie._id)"
                  class="heart-icon"
                >
                  favorite
                </mat-icon>
              </div>
        </mat-card-header>
        <img width="300px" src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="
                openDirector(
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.Birth
                )
              "
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="
                openSynopsis(
                  movie.Title,
                  movie.ImagePath,
                  movie.Description
                )"
            >
                Synopsis
            </button>
        </mat-card-actions>
    </mat-card>
</div>